@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*,::before,::after{margin: 0; box-sizing: border-box;}
a{ text-decoration: none;}
button{ cursor: pointer; padding: 0;}
:disabled{ cursor: not-allowed;}
img{ vertical-align: bottom;}
ul{ list-style: none; padding: 0;}
label{ display: inline-block;}
.img-resp{ width: 100%; height: auto; }




html{ font-size: 15px; --ff: "Montserrat", serif; --yellow:#ffdd00; }
body{ font: 16px/1.25 var(--ff);}

.container{ max-width: 1240px; margin: auto; padding: 0 1rem;}
.row{ display: grid; grid-template-columns: repeat(12, 1fr); gap: 0 2rem;}
.col-1{grid-column: span 1;}
.col-2{grid-column: span 2;}
.col-3{grid-column: span 3;}
.col-4{grid-column: span 4;}
.col-5{grid-column: span 5;}
.col-6{grid-column: span 6;}
.col-7{grid-column: span 7;}
.col-8{grid-column: span 8;}
.col-9{grid-column: span 9;}
.col-10{grid-column: span 10;}
.col-11{grid-column: span 11;}
.col-12{grid-column: span 12;}
.gap-y-2{ row-gap: 4rem; }
.flex{ display: flex;}
.justify-space-bet{ justify-content: space-between;}
.justify-center{ justify-content: center;}
.justify-right{ justify-content: right;}
.align-center{ align-items: center;}
.text-center{ text-align: center; }


.wrap-1{ background: url(../img/bg1.webp) no-repeat center/cover;}
header{ background: #0006; color: #fff; white-space: nowrap;}
.topnav{ border-bottom: 3px solid #fff6; line-height: 67px;}
.topnav a{ color: inherit;}
.topnav a span{ color: var(--yellow);}
.contact li:first-child{ margin-right: 100px; }
.menu li{ margin: 0 16px;}
.social{ margin-right: 100px;}
.social li{ margin: 0 10px;}
.brand{ color: inherit; }
.brand h1{ font: 500 33px var(--ff);}
.brand span{ color: var(--yellow); letter-spacing: -10px;}
nav li{ margin: 0 15px;}
nav a{ color: inherit; line-height: 74px; display: block; padding: 0 10px; border-bottom: 3px solid transparent;}
nav a.active{ border-block-color: var(--yellow); }
.banner{ color: #fff; text-align: center; padding: 100px 200px 170px;}
.lg{ font: 900 75px var(--ff); margin-bottom: 20px;}
.sm{ font: 900 40px var(--ff);}
.caption{ font-size: 18px; margin: 50px 0;}
.banner a{ display: inline-block; width: 216px; line-height: 58px; background: var(--yellow); color: #000;}
.mob-menu{ display: none;}


.wrap-2{ padding: 78px 0 82px; background: repeating-linear-gradient(135deg, #f0d839 0,#f0d839 8px, #888a 8px, #888a 9px); }
h2{ font: 900 37px/53px var(--ff);}
.wrap-2 .flex{ gap: 0 10px; align-items: end; flex-flow: wrap; }
.wrap-2 .column-2x{ flex: 1 0 210px; }
.wrap-2 .column-1x{ flex: 1 0 120px;}
.wrap-2 input{ width: 100%; height: 40px; padding: 13px; border: none; background: #fff; border-radius: 5px;}
.wrap-2 button{ width: 100%; height: 40px; padding: 13px; border: none; color: #fff; background: #4b4b4b; border-radius: 5px;}



.wrap-3{ background: url(../img/bg2.webp) no-repeat left top/50%, url(../img/bg3.webp) no-repeat right top/50%; }
.about{ padding: 85px 4rem;}
.about h2{ font-weight: normal;}
.about ul{ margin: 1rem 0;  }
.about li{ position: relative; padding-left: 40px; margin: 2rem 0; }
.about li span{ position: absolute; left: 0; font-size: 2rem; color: #00a4ff; }



.wrap-4{ padding: 70px 0;}
.wrap-4 :is(h2, h3){ font-weight: normal;}
.wrap-4 span.fa{ color: #00a4ff; font-size: 55px;}
.services{ margin: 20px 0;}
.icon{ flex: 0 0 130px;}
.text{ flex: 0 1 auto;}


.wrap-5{ background: url(../img/bg4.webp) no-repeat center top, #00a4ff; padding: 85px 0;}
.wrap-5 h2{ font-weight: normal;}
.budget{ background: #fff; border-radius: 1rem; padding: 35px 0; text-align: center; margin-bottom: 2rem;}
.budget > span.fa{ font-size: 67px; }
.budget .price{ background: #f0d839; font-size: 2rem; line-height: 64px; margin: 0 -7px; }
.budget ul{ margin: 1rem 100px 1rem 80px; }
.budget li{ position: relative; padding-left: 40px; margin: 2rem 0; }
.budget li span{ position: absolute; left: 0; font-size: 17px; color: #00a4ff; }



.wrap-6{ padding: 85px 0;}
.fwn{ font-weight: normal;}
.agent{ padding: 75px;}
.tabs{ display: flex; border: 2px solid #00a4ff; text-align: center;}
.tabs li{ flex: 1 0 33.3%;}
.tabs li a{ display: block; line-height: 93px; color: #373737; position: relative;}
.tabs li:nth-child(1) a{ background: #00a4ff; color: #fff;}
.tabs li:nth-child(2) a{ background: #e4e4e4;}
.tabs li:nth-child(1) a::after{ content: ''; display: block; width: 23px; background: #00a4ff; position: absolute; top: 0; left: 100%; bottom: 0; clip-path: polygon(0 0, 100% 50%, 0 100%); z-index: 1; }
.tabs li:nth-child(2) a::after{ content: ''; display: block; width: 23px; background: #e4e4e4; position: absolute; top: 0; left: 100%; bottom: 0; clip-path: polygon(0 0, 100% 50%, 0 100%); }


/* responsive */
@media screen and (max-width:1260px){
    html{ font-size: 13px;}
    .banner{ padding: 100px 100px 170px;}
    .wrap-2 button{ margin-top: 20px; }
    .about{ padding: 15px 2rem;}
    .budget ul{ margin: 1rem 50px;}
}

@media screen and (max-width:980px){
    .col-t-1{grid-column: span 1;}
    .col-t-2{grid-column: span 2;}
    .col-t-3{grid-column: span 3;}
    .col-t-4{grid-column: span 4;}
    .col-t-5{grid-column: span 5;}
    .col-t-6{grid-column: span 6;}
    .col-t-7{grid-column: span 7;}
    .col-t-8{grid-column: span 8;}
    .col-t-9{grid-column: span 9;}
    .col-t-10{grid-column: span 10;}
    .col-t-11{grid-column: span 11;}
    .col-t-12{grid-column: span 12;} 
    .contact li:first-child{ margin-right: 20px;}
    .social{ margin-right: 20px;}
    nav li{ margin: 0 1px;}
    nav a{ margin: 0 2px;}
    .wrap-3{ background: url(../img/bg3.webp) no-repeat center/cover; }
    .budget ul{ margin: 1rem 10px;}
}


@media screen and (max-width:767px){
    html{ font-size: 12px;}
    .col-m-6{grid-column: span 6;}
    .col-m-12{grid-column: span 12;}
    .wrap-1 .topnav .flex{ justify-content: center;}
    .topnav{ line-height: 40px;}
    nav{ display: none;}
    .mob-menu{ display: block; width: 70px; height: 30px; background: none; border: 2px solid var(--yellow); border-radius: 6px; float: right; margin-top: 13px;}
    .mob-menu span{ display: block; margin: 5px 10px; height: 2px; background: var(--yellow);}
    .banner{ padding-inline: 50px;}
}

@media screen and (max-width:460px){
    .col-p-4{grid-column: span 4;}
    .col-p-6{grid-column: span 6;}
    .col-p-12{grid-column: span 12;}
    .menu li{ margin: 0 10px;}
    .banner{ padding:100px 10px 170px;}
    .lg{ font-size: 55px;}
    .sm{ font-size: 22px;}
}